<div class="card">
  <div class="card-header">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="card-group">
        <label for="username-login">Username</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
        <label for="password-login">Password</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
        <button class="btn btn-primary" id="login-btn" type="submit">login</button>
        <a type="button" href="/signup">Need to sign up? Click here!</a>
      </div>
    </form>
  </div> 
</div>

<script src="./js/login.js"></script>
